body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    background-image: url('0112.jpg');
    
}

html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 0px 10px #000;
    display: inline-block;
}
#para{
    color: chartreuse;
}
img{
    float: right;
    margin-right: 20px;
    border:10px solid #999;
    border-radius: 50x;
}